@media screen and (max-width: 768px) {

    .container {
        max-width: 600px;
    }
    
}



@media screen and (max-width: 768px) {
    .col-right ul li h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .col-right ul li p {
        font-size: 12px;
    }
}